/* 
    Document   : styles
    Created on : May 13, 2011, 1:17:43 PM
    Author     : aungta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: tahoma,arial;
    font-size : 11px;
    margin : 0px;
    overflow: hidden;
}

div {
    font-family: tahoma,arial;
    font-size : 11px;
}

tr,td {
    font-family: tahoma,arial;
    font-size : 11px;
}

.btn {

}

.marker-tab-content-table tr {
    vertical-align: top;
}

#content {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#content table.content {
    width: 100%;
    height: 100%;
    border: none;
}

#content .marker-table {
    width: 100%;
    border: none;
    text-align: left;
}

#content .marker-table .marker-table-icon {
    text-align: center;
    width: 25%;
}

#content .marker-table .marker-table-labels {
    text-align: right;
    font-weight: bold;
}

#tabs {
    height: 100%;
    width: 300px;
}

#map {
    display: block;
    width: 100%;
    height: 100%;
}
