/* 
    Document   : styles
    Created on : May 13, 2011, 1:17:43 PM
    Author     : aungta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: tahoma,arial;
    font-size : 11px;
    margin : 0px;
    overflow: hidden;
}

#content {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#content table {
    width: 100%;
    height: 100%;
}

#tabs {
    height: 100%;
    width: 300px;
    float: left;
}

#map {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
}